/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800;1,900&display=swap");

/* common style starts here */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

.text-light-gray{
      color: #727272;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

img{
    width: 100%;
}

/* common style ends here */

/* header section starts here */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #131313;
}


nav > ul {
  display: flex;
}

nav ul li {
  margin-left: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav ul li a {
  color: #424242;
}

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  width: 700px;
  color: #131313;
}

.banner img{
    margin-top: 20px;
}

/* header section ends here */

/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}

/* team section */
.team-container{
    display: flex;
    align-items: center;
}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.team-content{
    padding-right: 70px;
    padding-left: 70px;
}

.team-title{
    font-size: 2.8rem;

}

.team-title .quick-list{
    color: #727272 ;
    font-weight: 500;
}

.team-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}

/* fact section */
.facts-container{
    display: flex;
    justify-content: space-around;
}

.facts-container .card{
    align-items: center;
border-radius: 8px;
border: 1px solid #FF900E;
padding:30px;
}

.facts-container .card .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-container .card .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}


/* Responsive media query */




@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav, .team-container{
        flex-direction: column;
    }
    .teams-image-container{
         grid-template-columns: 1fr;
    }

    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width:576px)  and (max-width:960px){
    nav,.team-container{
        flex-direction: column;
    }

    header{
        padding: 40px;
    }
}